footer
    i.rm_atmo-daytime-color.fas.fa-code
    | &nbsp;with 
    i.rm_atmo-daytime-color.fas.fa-heart
    | &nbsp;by Rene Müller 
    br
    br
    | This is a private page without profits hosted by GitHub.com. 
