nav
    ul
        li
            a(href=site_url title="Home") Home
        li
            a(href=site_url + "me.html" title="Curriculum vitae") Me
        li
            a(id="play_buton" href="#play" title="Play with Background") Play
        li
            a(href=site_url + "settings.html" title="Settings") Settings

header.profile
    img(class="me" src=assetsRoot+"img/me.png" alt="profile image")
    block title