extends ./base/base.jade

block header
    title CV

block title
    h1 &lt;Curriculum vitae/&gt;
    p
        | Software Developer & Frontend Designer with a passion for UX.
    br
    p
        a(href="https://github.com/renmuell" title="GitHub")
            i.fab.fa-github.fa-2x
        a(href="https://codepen.io/renmuell" title="CodePen")
            i.fab.fa-codepen.fa-2x
        a(href="https://twitter.com/renmuell" title="Twitter")
            i.fab.fa-twitter.fa-2x
        a(href="https://dribbble.com/renmuell" title="Dribbble")
            i.fab.fa-dribbble.fa-2x
        a(href="https://renemueller.deviantart.com/" title="DeviantArt")
            i.fab.fa-deviantart.fa-2x
        a(href="https://www.xing.com/profile/Rene_Mueller227" title="Xing")
            i.fab.fa-xing.fa-2x

block content
    article
        .title
            h2 Experiences
    article
        .title
            h2 Education
    article
        .title
            h2 Conferences & Seminars
    article
        .title
            h2 Publications
    article
        .title
            h2 Interests
    article
        .title
            h2 Portfolio
