extends ./base/base.jade

block header
    title Rene Müller
        
    meta(name="description" content="Personal website for Rene Müller, Software Developer & Frontend Designer. I will be featuring some of my work here.")
    meta(name="keywords" content="portfolio Rene Müller developer designer")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@renmuell")
    meta(name="twitter:creator" content="@renmuell")
    meta(property="og:url" content="https://renmuell.github.io/")
    meta(property="og:title" content="Rene Müller")
    meta(property="og:description" content="Peronal website for Rene Müller, Software Developer & Frontend Designer. I will featuring some of my work here.")
    meta(property="og:image" content="https://renmuell.github.io/assets/img/renmuell.github.io-card.png")

block title
    h1 &lt;Rene Müller/&gt;
    p
        | Software Developer & Frontend Designer with a passion for UX.
    br
    p
        a(href="https://github.com/renmuell" title="GitHub")
            i.fab.fa-github.fa-2x
        a(href="https://codepen.io/renmuell" title="CodePen")
            i.fab.fa-codepen.fa-2x
        a(href="https://twitter.com/renmuell" title="Twitter")
            i.fab.fa-twitter.fa-2x
        a(href="https://dribbble.com/renmuell" title="Dribbble")
            i.fab.fa-dribbble.fa-2x
        a(href="https://renemueller.deviantart.com/" title="DeviantArt")
            i.fab.fa-deviantart.fa-2x
        a(href="https://www.xing.com/profile/Rene_Mueller227" title="Xing")
            i.fab.fa-xing.fa-2x

block content
    #list
        for article in articles
            include ./index/article.jade

block footer
    script
        include ../../assets/js/index.min.js
    script
        include ../../assets/js/tweet.min.js