extends ./base/base.jade

block header
    title Settings

    link(rel="canonical" href="https://renmuell.github.io/settings.html")

    style
        include ../../assets/css/settings.min.css
    style
        include ../../assets/vendors/pureCheckboxToggle/pureCheckboxToggle.min.css

block title
    h1 &lt;Settings/&gt;
    p
        | Enable extra features or set settings for this website.

block content

    article
        .grid
            .text 
                h2 Cookie Storage
                p Allow saving all settings into cookies, so you can enjoy these extras features.
            .option
                input#setting_allow_cookies.tgl.tgl-ios(type = "checkbox")
                label.tgl-btn(data-tg-off = "OFF", data-tg-on = "ON", for = "setting_allow_cookies")
    article#mute_background.disabled
        .grid
            .text 
                h2 Mute Background
                p Disable the sound of user interactions.
            .option
                input#setting_mute_background.tgl.tgl-ios(type = "checkbox")
                label.tgl-btn(data-tg-off = "OFF", data-tg-on = "ON", for = "setting_mute_background")
    article#sharing_firebase.disabled
        .grid
            .text 
                h2 Sharing Background via Firebase
                p Allow sharing your interactions on the background with other visitors and see all background interactions from them.
                p For this feature, I use Firebase, see more about there terms of service here: <a href="https://firebase.google.com/terms/">https://firebase.google.com/terms/</a>
            .option
                input#setting_sharing_firebase.tgl.tgl-ios(type = "checkbox")
                label.tgl-btn(data-tg-off = "OFF", data-tg-on = "ON", for = "setting_sharing_firebase")
            #text_setting_mute_sharing_firebase.text.disabled
                h2 Mute Shared Background
                p Disable the sound of other user interactions.
            #option_setting_mute_sharing_firebase.option.disabled
                input#setting_mute_sharing_firebase.tgl.tgl-ios(type = "checkbox", checked="true")
                label.tgl-btn(data-tg-off = "OFF", data-tg-on = "ON", for = "setting_mute_sharing_firebase")
    article#sharing_twitter.disabled
        .grid
            .text 
                h2 Sharing via Twitter
                p Allow social buttons from Twitter to load.
                p For this feature, I use Twitter, see more about there terms of service here: <a href="https://twitter.com/de/tos">https://twitter.com/de/tos</a>
            .option
                input#setting_sharing_twitter.tgl.tgl-ios(type = "checkbox")
                label.tgl-btn(data-tg-off = "OFF", data-tg-on = "ON", for = "setting_sharing_twitter")

block footer
    script
        include ../../assets/vendors/cookies.js/cookies.min.js
    script
        include ../../assets/js/settings.min.js