p This is a major update for this site. I overhauled the complete backend and added some sweet new features.

hr
h3 In short:
hr

ul(style="list-style:dot") 
    li New website navigation bar with:
        ul(style="list-style:dot") 
            li Home button
            li Play button for full-page background interaction.
            li Settings page
                ul(style="list-style:dot") 
                    li Mute background
                    li Enable/disable new features
    li New Features
        ul(style="list-style:dot") 
            li Share background interactions with others.
            li Share articles via Twitter.
    li New backend *magic*
        ul(style="list-style:dot") 
            li The website has a build script.
            li JSON database for articles
            li Performance improvements
                ul(style="list-style:dot") 
                    li Minify and inline scripts/styles
                    li Vendor code loaded in the build and insert into web pages.
                    li Only a few articles are loaded into the website, the rest is loaded afterward.

if short == false

    hr
    h3 Website navigation bar:
    hr

    p This website is no longer a one-page structure, this website evolved into much more. 

    img(src=site_url + "assets/img/update_level_up/new_navbar.png" style="max-height:4em;max-width:100%;display: block;margin: 0 auto;border: 1px solid #ddd;border-radius: 40px;border-bottom-width: 10px;")

    p For now, this navigation bar allows users fast access to the homepage, a neat play button and access to the settings page.

    hr

    h4 Home button:

    p(style="text-align:center") <i class="fas fa-sitemap fa-3x"></i>

    p Each article has his own page, with the home button you can get back to the start page. This allows me to write longer posts, like this one, without flooding the front page. Also, by having each article on his own page, this enables me to introduce sharing posts via Twitter with a preview image and unique URLs.

    hr

    h4 Play button:

    p(style="text-align:center") <i class="fas fa-child fa-3x"></i>

    p I wanted to give more attention to the playfulness of the background. This button hides all content and allows full page access to the background. This also fixes the issue of mobile devices, not being able to interact with the background. Just click and have fun!

    hr

    h4 Settings page:

    p(style="text-align:center") <i class="fas fa-user-shield fa-3x"></i>

    p I don't want to force all new features to everyone, but much more important is privacy. Features like Twitters share buttons, load scripts and identify you. I wanted one space where every user can choose to enable the new features. For each feature that is provided by an external company, I list the service name and a link to there terms of service.

    hr
    h3 New Features:
    hr

    h4 Share background interactions with others:

    p When you enable this feature, each interaction on the background is shared with others who also have enabled this feature. I use <a href="https://firebase.google.com/">Google Firebase</a> for this feature.

    img(src=site_url + "assets/img/update_level_up/FirebaseRealtimeDatabase.png" style="max-width:100%;display: block;max-height:6em;margin:0 auto")
    
    p This service provides a real-time Database, which synchronizes the last interaction for every user on my site, who wants it. I hope to see your interaction soon!

    hr

    h4 Share articles via Twitter:

    p When you enable this feature, each article will get a <a href="https://twitter.com/">Twitter</a> share button.

    img(src=site_url + "assets/img/update_level_up/Twitter_Social_Icon_Circle_Color.png" style="max-height:6em;display: block;margin: 0 auto;")
    
    p This share button is pre-filled, with the URL of the article and some text. In combination, each article has his own Twitter information, with full-size-image and details. This enables Twitter to show more information when you share my article.

    hr
    h3 New backend *magic*
    hr

    p In order to add these new features, I had to completely rewrite my website. I love the easy structure of <a href="https://pages.github.com/">GitHub Pages</a> with only HTML pages and I do not want to move away. I created a Build script so every article can be stored and edited much more efficiently. This allowed me to show each article on the front page and on their own page without writing everything double. 

    h4 Build script

    p I use <a href="https://nodejs.org/en/">Node.js</a> for the task-runner <a href="https://gulpjs.com/">Gulp</a> and the template Engine, <a href="http://jade-lang.com/">Jade</a>. This is not all, I also use these packages:

    ul(style="list-style:dot") 
        li
            a(href="https://www.npmjs.com/package/gulp-clean-css") gulp-clean-css
        li
            a(href="https://www.npmjs.com/package/gulp-concat") gulp-concat
        li
            a(href="https://www.npmjs.com/package/gulp-copy") gulp-copy
        li
            a(href="https://www.npmjs.com/package/gulp-data") gulp-data
        li
            a(href="https://www.npmjs.com/package/gulp-filter") gulp-filter
        li
            a(href="https://www.npmjs.com/package/gulp-google-fonts-base64-css") gulp-google-fonts-base64-css
        li
            a(href="https://www.npmjs.com/package/gulp-inject-string") gulp-inject-string
        li
            a(href="https://www.npmjs.com/package/gulp-json-transform") gulp-json-transform  
        li
            a(href="https://www.npmjs.com/package/gulp-less") gulp-less
        li
            a(href="https://www.npmjs.com/package/gulp-rename") gulp-rename
        li
            a(href="https://www.npmjs.com/package/gulp-sitemap") gulp-sitemap
        li
            a(href="https://www.npmjs.com/package/gulp-uglify") gulp-uglify
        li
            a(href="https://www.npmjs.com/package/gulp-jade") gulp-jade

    p These Tools allow me to save all of my articles in JSON, minify scripts & styles, load Fonts and convert templates into final HTML-Files.

    p These are wonderful tools, which make all this possible. On the website I use:

    ul(style="list-style:dot") 
        li
            a(href="https://github.com/madmurphy/cookies.js") Cookie.js -> for setting storage
        li
            a(href="https://fontawesome.com/") FontAwesome -> great icons
        li
            a(href="https://codepen.io/mallendeo/pen/eLIiG?editors=1100") pureCheckboxToggle -> Sweet checkbox design on the setting page
        li
            a(href="https://fonts.google.com/specimen/Lato") Google Font Lato

    p Many thanks to all of them! 

    p This website code is public, and you can find it on <a href="https://github.com/renmuell/renmuell.github.io">GitHub renmuell.github.io</a> if you want to know more.

    hr

    p The teaser of this article I had lying around and thought this would fit the "level up" theme of this post. I created this image on 28.09.2014, almost four years ago.
