p A friend asked me to show here some design changes she can do for her bowling site to improve it. Lately, I found the rough work and liked the symbols so much, I polished them up for fun.
p Files can be found here: <a href="https://github.com/renmuell/rmDesings">https://github.com/renmuell/rmDesings</a>