p A coworker asked me to create a gift card for Easter, and as part of this, I designed this little cute bunny. Now I created a nice vectorized version of this bunny.
p Files can be found here: <a href="https://github.com/renmuell/rmDesings">https://github.com/renmuell/rmDesings</a>