p welcome to my little web space. I will be featuring some of my work here. If you want to contact me, please use the social channels above.
p Have a look at the <b>background</b>. It will reflect the daytime, so be sure to check back later 🌞/🌛. Also, click on it and it will play a music note. Find out more about it here: <a href="#{site_url}articles/rM_AtMo.html">rM_AtMo</a>.
p
    | Have fun &
    br
    | thx&nbsp;
    i.fab.fa-github 
    | GitHub for Hosting&nbsp;
    i.fas.fa-heart