p A JavaScript library for exploring special polygon mesh structures.
p A litter playground project, I wanted to start to understand more about constructing graph and mesh visualization. I had a lot of fun, so I added more and more. 😀
p See more on the <a href="http://renmuell.github.io/makrenejs/">interactive manual</a>.