p My niece once told my mother as diet tip: "Just don't eat!". As a reminder, I created a little drawing and this pig is the mascot. Now vectorized :)
p Files can be found here: <a href="https://github.com/renmuell/rmDesings">https://github.com/renmuell/rmDesings</a>