p The focus of this project was to create an atmospheric background scene, which the user can interact with.
p It was inspired by this gem:
p <a href="https://www.youtube.com/watch?v=16oLi1kvLHs"><i class="fab fa-youtube"></i>Mathieu 'p01' Henri: Making Realtime Audio-Visuals - JSConf.Asia 2015</a>
p Which blew my mind, in the style of coding and what can be made with Js