p As part of a university project, I created this little icon for a music platform. I just reworked it a little bit.
p Files can be found here: <a href="https://github.com/renmuell/rmDesings">https://github.com/renmuell/rmDesings</a>