p Twitter Annotator is an UI-Prototype for annotating tweets. Currently, it has a dummy back-end to showcase the concept.
p While helping a friend to annotate tweets for his research paper, I created this little prototype. It was partly a design challenge and I wanted to show some possible improvements for his UI.
p The goal was simplicity and elegance.