p This is a small update for the background:

ul(style="list-style:dot") 
    li Control the daytime in play mode via Sun and Moon
    li Multi-touch support
    li Different music scales for different daytime
    li Website text can be colored in daytime color
    li Bugfix: touch not working or links not clickable
